* {
  margin: 0;
  padding: 0;
}
.appBar {
  width: calc(100% - 240px) !important;
  margin-left: 240px;
}
.admin-content {
  flex-grow: 1;
  padding: 1.2em;
}
.admin-body {
  margin-top: 65px;
}
a {
  text-decoration: none;
}
.card-img {
  height: 140px;
}
.course-form {
  display: flex;
  flex-direction: column;
}

.course-form > * {
  margin-top: 2em !important;
}

.sortable {
  min-width: 200px;
  min-height: 20px;
  list-style-type: none;
  margin: 0;
  padding: 5px 0 0 0;
  float: left;
  margin-right: 10px;
}
.sortable > li {
  margin: 0 5px 5px 5px;
  padding: 8px 8px 8px 16px;
  font-size: 1.2em;
  width: 100%;
  background: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  cursor: grabbing;
  border-radius: 2px;
}

.modal {
  min-width: 200px;
  min-height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background: #fff;
  padding: 16px;
}

.d-flex {
  display: flex;
}

.quiz-question-wrapper {
  background: lightgray;
  padding: 10px;
}

.quiz-question-editor {
  min-height: 200px;
}
.create-quiz {
  max-height: 700px;
  overflow-y: scroll;
}
.create-quiz .label {
  font-weight: bold;
  color: red;
  font-size: 1.1em;
}

.test-imgs img {
  max-width: 100%;
}
.test-options {
  flex-direction: column;
}

.content-wrapper {
  max-width: 90%;
}
.content-editor {
  background-color: #fff;
  min-height: 500px;
  padding: 10px;
  margin-bottom: 10px;
}
